body, html{
    width: 100%;
    height: 100%;
}

.container{
    max-width: 1024px;
}

.acceuil{    
    background: url("../img/acceuil2.jpg") no-repeat top center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: $color-black;

    width: 100%;
    height: 100%;
    &__photo {
        position: absolute; /* postulat de départ */
        top: 50%; left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%); 
        background-color: $color-black;
        text-align: center;
        width: 345px;

        &--title{
            font-family: $font-main-title;
            color: $color-gold;
            font-size: 400%;
        }
    
        &--title2 {
            font-family: $font-title;
            color: $color-gold;
        }
    }
    
}