$color-gold: #A69888;
$color-black: #242322;
$color-grey: #40434E;
$color-green: #5C6D70;
$color-white: #F3F3F4;

$font-main-title: "Montserrat", sans-serif;
$font-title: "Maitree", sans-serif;
$font-text: "Martel Sans", sans-serif;
